---
import HeadingSmall from "@components/ui/HeadingSmall.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="section py-section-xs max-md:bg-white md:bg-gray-100">
  <div>
    <div class="md:p-6 md:rounded-lg md:bg-white max-w-3xl">
      <HeadingSmall large class="pb-4 border-b border-gray-200"
        >{title}</HeadingSmall
      >
      <slot />
    </div>
  </div>
</section>
