---
import { YouTube } from "@astro-community/astro-embed-youtube";
import type { Locale } from "@i18n/config";
import { getListingsTexts } from "@lib/queries";
import PropertySection from "@components/listings/ui/PropertySection.astro";

interface Props {
  url: string;
  lang: Locale;
}

const { url, lang } = Astro.props;
const texts = await getListingsTexts(lang);
---

<PropertySection title={texts?.video ?? ""}>
  <div class="aspect-video mt-5 rounded-md overflow-clip">
    <YouTube id={url} class="w-full h-full" />
  </div>
</PropertySection>
