---
import type { Locale } from "@i18n/config";
import { t } from "@i18n/ui";
import PropertySection from "@components/listings/ui/PropertySection.astro";

interface Props {
  features: { name: string }[];
  lang: Locale;
}

const { features, lang } = Astro.props;
const sorted = [...features].sort((a, b) => a.name.localeCompare(b.name));
---

<PropertySection title={t(lang, "listings.features")}>
  <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-24 gap-y-5">
    {
      sorted.map((f) => (
        <li class="flex items-center gap-1 text-gray-800">
          <svg class="w-4 aspect-square shrink-0" aria-hidden="true">
            <use href="#icon-check" />
          </svg>
          {f.name}
        </li>
      ))
    }
  </ul>
</PropertySection>
