---
import type { Locale } from "@i18n/config";
import { getListingsTexts } from "@lib/queries";
import PropertySection from "@components/listings/ui/PropertySection.astro";

interface Props {
  url: string;
  lang: Locale;
}

const { url, lang } = Astro.props;
const texts = await getListingsTexts(lang);
---

<PropertySection title={texts?.virtualTour ?? ""}>
  <div class="aspect-video mt-5 rounded-md overflow-clip">
    <iframe
      src={url}
      title={texts?.virtualTour ?? ""}
      class="w-full h-full"
      loading="lazy"
      allow="xr-spatial-tracking"
      allowfullscreen></iframe>
  </div>
</PropertySection>
