---
import type { Post } from "@lib/types";
import type { Locale } from "@i18n/config";
import { DEFAULT_LOCALE } from "@i18n/config";
import { localePrefix } from "@i18n/utils";
import BlogCard from "@components/blog/BlogCard.astro";
import PropertyIcons from "@components/listings/ui/PropertyIcons.astro";

interface Props {
  posts: Post[];
  lang?: Locale;
  blogSlug?: string;
  level?: 2 | 3;
  class?: string;
}

const {
  posts,
  lang = DEFAULT_LOCALE,
  blogSlug = "blog",
  level = 3,
  class: cls,
} = Astro.props;
const prefix = localePrefix(lang);
---

{posts.length > 0 && <PropertyIcons />}

{
  posts.length > 0 && (
    <ul
      class:list={["grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3", cls]}
    >
      {posts.map((post) => (
        <li>
          <BlogCard
            {post}
            href={`${prefix}/${blogSlug}/${post.slug ?? ""}`}
            {level}
          />
        </li>
      ))}
    </ul>
  )
}
