---
interface BreadcrumbItem {
  name: string;
  url?: string;
}

interface Props {
  items: BreadcrumbItem[];
  class?: string;
}

const { items, class: className = "" } = Astro.props;
---

<nav aria-label="Breadcrumb" class:list={["mb-4", className]}>
  <ol class="flex flex-wrap items-center gap-1.5 text-md text-gray-700">
    {
      items.map((item, i) => (
        <li class="flex items-center gap-1.5">
          {i > 0 && <span aria-hidden="true">›</span>}

          <a href={item.url} class="hover:text-accent transition-colors">
            {item.name}
          </a>
        </li>
      ))
    }
  </ol>
</nav>
